.gameImage {
    width: 50%;
    border-radius: 10px;
    align-self: center;
}

.gameDetailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.gameInfo {
    align-self: center;
}