

.create-review-container {
    div > input {
       margin-top: 10px;
    }
    div > label {
        font-size: small;
        margin-right: 10px;
    }

    div > label > input {
        margin-right: 5px;
            }
}

button {
    background-color: white;
    color: black;
    padding: 0.3rem;
}

.review-button {
    display: flex;
    justify-content: space-between;
}

.review-button > button {
    font-size: small;
    padding-inline: 0.5rem;
}

.icon-size {
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
}