.gameContainer {
    border: 2px solid skyblue;
    border-radius: 5px;
    padding-block: 1rem;
    padding-inline: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.linkText {
    color: black;
    font-size: larger;
    text-decoration: none;
}

.linkText:hover {
    text-decoration: underline;
}

