.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-inline: 8rem;
    padding-block: 1rem;
}

.headerNav {
    display: flex;
    gap: 15px;
}

.h1 {
    margin: 0;
    padding: 0;
}