header {
    display: flex;
    justify-content: space-between;
    margin-inline: 8rem;
    nav {
        display: flex;
        gap: 15px;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    span {
        border: 2px solid skyblue;
        border-radius: 8px;
        padding: 0.3rem;
        align-content: center;
    }

    a {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }
    span:hover {
        background-color: skyblue;
    }
}

