.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid skyblue;
    border-radius: 5px;
    padding: 2rem;
}

.avatar {
    width: 12rem;
    border-radius: 30%;
    border: 2px solid white;
}

.realNameText {
    font-size: large;
}
