.reviewContainer {
    background-color: white;
    border: 2px solid rgba(135, 206, 250, 0.5);
    border-radius: 20px;
    margin-top: 5rem;
    margin-inline: 10rem;
    padding: 0.8rem;
}

.reviewAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviewHeader {
    display: flex;
    justify-content: space-between;
}

.reviewHeaderDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewIcon {
    width: 15px;
}

.reviewUsername {
    font-size: large;
    margin: 0;
}

.reviewDeleteButton {
    padding: 0.2rem;
}

.reviewDeleteButton:hover {
    background-color: rgba(135, 206, 250, 0.5);
}
.reviewCreated {
    font-size: smaller;
}

.reviewAddLike {
    display: flex;
    justify-content: space-between;
}

.reviewAddLikeButton {
    font-size: small;
    padding-inline: 0.5rem;
    border: 2px solid rgba(135, 206, 250, 0.5);
}

.reviewAddLikeButton:hover {
    background-color: aliceblue;
}

.reviewAddLikeButtonIcon {
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
}