:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-inline: 18rem;
}

main {
  margin-bottom: 3rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  font-size: 18px;
}